a {
    text-decoration: none !important;
}

.left-side {
    border: 2px solid black;
    border-radius: 50px 0 0 50px;
}

.right-side {
    border: 2px solid black;
    border-radius: 0 50px 50px 0;
}

.search-btn {
    background-color: #F28B00;
    color: white;
    font-weight: bolder;
}

.icon-style {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1px solid #bdbdbd;
    border-radius: 50%;
}

.nav-bg{
    background-color: #F28B00;
}

.nav-heading{
    color: #484848;
    font-weight: bold;
  
}


.nav-item{
    font-weight: 600;
    font-size: 18px;
    color: #484848 !important;
}

.dropdown-style{
font-weight: 600 !important;
    font-size: 18px !important;
    color: #484848 !important;
}

.menu-tel{
    font-weight: 400 !important;
    color: white !important;
    font-size: 18px !important;
    background-color: red !important;
}

.menu-tel:hover{
    background-color: #F28B00 !important;
    color: red !important;
    border: 1px solid red !important;
}